---
import Layout from '../../layouts/Layout.astro';
import Footer from '../../components/Footer.astro';
import LeftSidebar from '../../components/LeftSidebar.astro';
import FuzzySearch from '../../components/FuzzySearch.astro';
const title = "Pokémon nicknames";
const description = "A collection of Pokémon nickname ideas.";
---

<style>
	
	search {
		display: flex;
		margin-bottom: 1rem;
		gap: 0.5rem;
		align-items: center;
	}

</style>

<Layout title={title} description={description}/>
<div class="container">
	<div class="flex-content">
		<main class="box">
			<h1 class="headings">{title}</h1>
				<p>Welcome to the Pokémon nicknames index page. Here, you will find a list of all the Pokémon nickname pages on the site.</p>
				<p>The index is ordered by Pokédex number and will cover mostly final evolutions where applicable. That means any nicknames you see for fully-evolved Pokémon can apply for their unevolved forms too.</p>
			<h2 class="headings">Nickname page list</h2>
				<search>
					<div class="search-bar-text">
					<span>Search for a Pokémon or theme:</span>
						<input id='search' type='search' label='Search' placeholder="What would you like to search today?"/>
						</div>
						<svg id="cross" width="24" height="24" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M165.66 101.66L139.31 128l26.35 26.34a8 8 0 0 1-11.32 11.32L128 139.31l-26.34 26.35a8 8 0 0 1-11.32-11.32L116.69 128l-26.35-26.34a8 8 0 0 1 11.32-11.32L128 116.69l26.34-26.35a8 8 0 0 1 11.32 11.32M232 128A104 104 0 1 1 128 24a104.11 104.11 0 0 1 104 104m-16 0a88 88 0 1 0-88 88a88.1 88.1 0 0 0 88-88"/></svg>
					
				</search>

				<div class="results"></div>
			<h2 class="headings">Nicknames FAQ</h2>
				<p><strong>Why should you nickname your Pokémon?</strong></p>
				<p>Nicknaming by default didn't start for me until Sword and Shield and, after replaying all the games and doing Nuzlockes, I got into the habit of nicknaming.</p>
				<p>While nicknaming is a personal preference, I think giving your Pokémon unique names can add a certain charm and whimsy to the gameplay. You might care a bit more for them if they have a name you grow attached to, and it's a fundamental rule in a Nuzlocke so the habit is bound to stick.</p>
				<p><strong>How do you choose a good nickname for a Pokémon?</strong></p>
				<p>The best nicknames can come from anywhere and it depends on whether you're picking a name at random or following a theme. The easiest method of nicknaming is to decide on a theme and match that theme's characteristics with your Pokémon's traits or style. For example, if you have a colour theme, and you had a Squirtle as your starter, you could name it after a shade of blue. And then Pidgey could have a brown/creme-inspired nickname.</p>
				<p>Alternatively, you could use something like a random word/name generator to pick the names for you.</p>
				<p><strong>Word of warning!</strong></p>
				<p>When playing in-person tournaments, you may be warned or penalised for using inappropriate nicknames (e.g. names that are too close other Pokémon names). Be mindful of this and if you're unsure, just change it back to the original or pick a different one. You can always change it again after the tournament (unless you're not the OT!)</p>
		</main>
		<LeftSidebar />
		<Footer />
		<FuzzySearch />
		</div>
	</div>