/* ROOT STUFF */

:root { --gap: 1rem; }

::selection { color: #fdee00; background: #c3413b; }

@font-face { font-family: 'Georama Expanded Black';
	src:
	  local("Georama Expanded Black"),
	  url("/fonts/Georama_Expanded-Black-subset.woff2") format("woff2"); font-display: swap; font-weight: 900; }

/* BASE ELEMENTS */

body { margin: 0; background-image: url(./images/brick.png); color: #472a2d; font-family: 'Verdana', sans-serif; font-size: 13px; }

h1 { font-size: 2rem; }

h2 { font-size: 1.75rem; }

:is(h2, h3, h4, div.float-right-img, div.float-left-img) + p, .deets {
	margin-top: var(--gap);
}

blockquote { border-left: 6px solid black; padding-left: var(--gap);}

blockquote p { font-family: Georgia, serif; font-style: italic; }

q { font-style: italic; }

q:hover { background: rgba(195,65,59, 0.15); border-radius: 5px; }

cite::before { content: ' — '; }

aside h2.headings { margin-bottom: 0; font-size: 1rem; }

p { line-height: 1.4; margin: 0;}

ul.pokeball-icons, aside.right-sidebar ul, aside.left-sidebar ul { padding-left: 0.25rem; list-style-type: none; }

ul.pokeball-icons li, aside.right-sidebar ul li, aside.left-sidebar ul li { padding-left: 1.25rem; background-image: url("/images/Cherish_Ball_Sprite.png"); background-position: 0; background-size: var(--gap); background-repeat: no-repeat; margin-bottom:0.25rem;}

li { line-height: 1.4; }

figcaption { margin-top: .25rem; }

figcaption, smaller, .caption { font-size: smaller; }

figure { margin-bottom: calc(var(--gap) * 1.5) }

header { display: flex; background: #29191a; margin-bottom: calc(var(--gap) * 2); }

aside { width: 300px; }

main { flex: 1; order: 2; width: calc(100% * .4); }

footer { margin-top: var(--gap); text-align: center; order: 4; width: 100%; }

footer > *, h1.headings, h2.headings, .img-center, .date, .right-sidebar img, p, .banner { margin-bottom: var(--gap); }

a { color: #c4413b; font-weight: 700; }

a:hover { text-decoration: none; }

img[src$="gif"], img[src$="png"] { image-rendering: pixelated; }

.no-pixel img { image-rendering: auto; }

img, figure { max-width: 100%; height: auto; }

details p { margin-top:1rem; }

/* CLASSES */

table.fave-pkmn, table.fave-pkmn th, table.fave-pkmn td { border-collapse: collapse; border: 1px solid black; padding: calc(var(--gap) * .5); }

table.room-table, table.room-table th, table.room-table td { border-collapse: collapse; border: 1px solid #daabab; padding: calc(var(--gap) * .5); }

table.room-table thead { background: rgba(228, 96, 71, 0.2) }

.header-centered span,h1,h2,h3,h4,h5 { padding: 0; margin: 0; font-family: 'Georama Expanded Black', 'Arial Black', sans-serif; -webkit-font-smoothing: antialiased;color:#fdee00;text-transform:uppercase;}

.inner-header { display: flex; gap: calc(var(--gap) * 2); width: 100%; justify-content: center; }

.header-centered { display: flex; align-items: center; }

.header-centered span { font-size: 3rem; }

.banner { width: 100%; padding: 1rem 1rem 0 1rem; }

.headings, article :is(h1, h2) { padding: .5rem; background: #c70a00; text-align: center; }

article :is(h3, h4) { padding: .5rem; background: #ac484a; text-align: center; font-size: 1.25rem; }

.headings a { color: #fdee00; }

.container { margin: 0 auto; max-width: 57rem; box-shadow: 20px 0 20px black; }

.flex-content { display: flex; flex-wrap: wrap; background: #ac484a; border: 14px solid #ac484a; outline: 10px solid #472a2d; }

.box { overflow-wrap: break-word; outline: 4px dashed black; background: white; }

.img-center { text-align: center; }

.date { font-size: 8pt; }

.left-sidebar, .right-sidebar, main, footer, header { padding: var(--gap); }

.left-sidebar, .right-sidebar { width: calc(100% * .2); }

.left-sidebar { order: 1; margin-right: calc(var(--gap)); }

.right-sidebar { order: 3; margin-left: calc(var(--gap)); }

.post-pagination { display: flex; margin: var(--gap) 0; padding: var(--gap) 0; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }

.post-pagination-item { flex-grow: 1; flex-basis: 0; padding: 0.75rem; border-radius: 3px; border: 1px solid transparent; font-size: smaller; }

.post-pagination-item:hover { border-color: currentColor; }

.post-pagination-prev::before { content: "\2190 "; display: inline-block; padding-right: var(--gap); }

.post-pagination-prev { text-align: left; }

.post-pagination-next { text-align: right; }

.post-pagination-next::after { content: " \2192"; display: inline-block; padding-left: var(--gap) }

.post-pagination-divider { border: 0.5px solid #ddd; margin: 0 var(--gap); }

.currently-listening { display: flex; flex-direction: column; }

.currently-playing { text-align: center; padding: 2rem 1rem 1rem 1rem; border: 4px solid black; box-shadow: 8px 8px black; border-radius: var(--gap); margin-bottom: var(--gap);}

.currently-playing h2 { margin-bottom: calc(var(--gap) * 0.25); }

.currently-playing h3 { margin-bottom: var(--gap); }

.currently-playing p { margin-top: 0; }

.float-left-img { float: left; padding-right: 1rem; }

.float-right-img { float: right; padding-left: 1rem; }

.yt-embed { margin-bottom: 1rem; }

.badges { margin-top: 1rem; text-align:center }

.badges img { padding: 1rem; }

.room-box { display:flex; gap: 1rem; margin: 1rem 0; }

.room-box-left { flex-shrink: 3 }

.room-box-left:first-child :is(ul) { margin-top: 0 }

.deets { margin-bottom: var(--gap); }

/* CLASSES */

@media only screen and (max-width: 800px) {

	body { font-size: 16px; }

	.flex-content { flex-wrap: wrap; }

	.box { margin-bottom: var(--gap); }

	h1 { font-size: 1.5rem; }

  h2 { font-size: 1.2rem; }

	main { order: 1; }

	footer { margin: 0; }

	aside { width: 100%; }

	img { max-width: 100%; height: auto; }

	ul.pokeball-icons li, aside.right-sidebar ul li { padding-left: calc(1.25rem * 1.23); background-size: calc(var(--gap) * 1.23); }

	.header-centered span { font-size: var(--gap); }

	.left-sidebar { order: 2; }

	.right-sidebar { order: 3; }

	.left-sidebar, .right-sidebar { width: 100%; margin: 0 auto var(--gap); }
}