---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import LeftSidebar from '../components/LeftSidebar.astro';
const description = "Learn more about centiskor.ch.";
const title = "about centiskor.ch";
---

<Layout title={title} description={description}/>
<div class="container">
	<div class="flex-content">
		<main class="box">
			<h1 class="headings">{title}</h1>
			<div class="float-left-img">
				<a href="https://www.deviantart.com/pikaole/art/Centiskorch-821711818"><img src="/images/centiskorch_by_pikaole_ddl84wa-414w-2x.jpg" alt="Centiskorch" width="300" loading="eager"/></a>
			</div>
			<p>centiskor.ch was heavily inspired by <a href="https://pincurch.in">pincurch.in</a>, a site I stumbled upon while looking for cool domains, and sites from the 2000s where people just wrote stuff and had fun. A big shout out to <a href="https://seafare.neocities.org/">seafare</a> for basically being the design blueprint for the site.</p>
			<p>The main reason why I chose Centiskorch as the focal point was because the centiskor.ch domain was available. I also had a Centiskorch in my main Pokémon Sword team and it's one of my favourite designs in recent generations.</p>
			<h2 class="headings">Goals</h2>
			<p>I want this site to be two things:</p>
			<ol>
				<li>A Centiskorch fan site.</li>
				<li>A place for me to write about general Pokémon stuff, whether it be about media, VGC, my own playthroughs, nicknames, and general observations.</li>
			</ol>
			<h2 class="headings">About me</h2>
			<div class="float-right-img">
				<img src="/images/luke-picrew-250x250.jpg" alt="a picrew of me in green clothing" width="250" height="250" loading="lazy"/>
			</div>			
			<p>My name is Luke and I live in the UK.</p>
			<p>I've been playing Pokémon since 1998.</p>
			<p>I work in SEO as a day job and spend most of my spare time playing Pokémon or doing anything remotely Pokémon related.</p>
			<p>I also enjoy coding, making music, and looking after my son.</p>
			<p>I'm a native English speaker but I can read/speak <em>a little</em> Portuguese.</p>
			<p>I used to love the Pokémon anime but I stopped watching many years ago and never caught up. However, I have seen all but two of the Pokémon movies.</p>
		</main>
		<LeftSidebar />
		<Footer />
	</div>
</div>
