---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import AsideLeft from '../components/AsideLeft.astro';
const description = "I took some Pokémon type quizzes and these are the results.";
const title = "My types";
---

<Layout title={title} description={description}/>
<div class="container">
	<div class="flex-content">
		<main class="box">
			<h1 class="headings">{title}</h1>
			<p>{description}</p>
			<a href="https://www.dragonflycave.com/quizzes/what-type-are-you/ice"><img src="https://www.dragonflycave.com/typequiz/ice.png" alt="Ice" title="I am a Ice-type!"></a>
			<p>Ice-types are quiet and introverted, like to go unnoticed, and may appear cold to others, but secretly harbor a lot of passion and creativity. (via <a href="https://www.dragonflycave.com/quizzes/what-type-are-you">The Cave of Dragonflies</a>)</p>
			<p><strong>Fire-type</strong></p>
			<p>You have the passion to be the very best! A Fire-type Pokémon is what you should become. Pick from your favorite Fire-type Pokémon to start your adventure in Pokémon Super Mystery Dungeon. (via <a href="https://play.nintendo.com/activities/personality-quizzes/whats-my-pokemon-type/">Play Nintendo</a>)</p>
		</main>
		<AsideLeft />
		<Footer />
	</div>
</div>
