---
const badges = ['boulderbadge.gif', 'cascadebadge.gif', 'thunderbadge.gif', 'rainbowbadge.gif', 'soulbadge.gif', 'marshbadge.gif',   'volcanobadge.gif', 'earthbadge.gif', "GSC Badges 01.gif", "GSC Badges 02.gif", "GSC Badges 03.gif", "GSC Badges 04.gif", "GSC Badges 05.gif", "GSC Badges 06.gif", "GSC Badges 07.gif", "GSC Badges 08.gif", 'coalbadge.gif', 'forestbadge.gif', 'cobblebadge.gif', 'fenbadge.gif', 'relicbadge.gif', 'minebadge.gif', 'iciclebadge.gif', 'beaconbadge.gif', "trio-badge.png", "basic-badge.png", "insect-badge.png", "bolt-badge.png", "quake-badge.png", "jet-badge.png", "freeze-badge.png", "legend-badge.png", "bug-badge.gif", "cliff-badge.gif", "rumble-badge.gif", "plant-badge.gif", "voltage-badge.gif", "fairy-badge.gif", "psychic-badge.gif", "iceberg-badge.gif"];

const { sectionBackground, sectionColour, h2Colour, h3Colour, gameTitle, team, firstBadge, lastBadge } = Astro.props;
---

<style define:vars={{ sectionBackground, sectionColour, h2Colour, h3Colour }}>
	.currently-playing {
		background: var(--sectionBackground);
		color: var(--sectionColour);
	}

	.currently-playing h2 {
		color: var(--h2Colour);
	}

	.currently-playing h3 {
		color: var(--h3Colour);
	}
</style>

<section class="currently-playing">
				<h2>Currently playing:</h2>
				<h3>{gameTitle}</h3>
				<h2>Team:</h2>
				<p>{team}</p>
				<h2>Badges:</h2>
				<p>{badges.slice(firstBadge, lastBadge).map((badge) => (
									<img src={"/images/sprites/badges/" + badge} style="image-rendering:pixelated;" width="28px" height="28px" alt="a Pokémon badge" loading="lazy"/>
									)
								)
							}
		</p>