---
import { getCollection } from 'astro:content';

const posts = await getCollection('nicknames', ({ data }) => {
  return data.pokedexNumber;
});

const allPosts = posts.sort(
	(a, b) => a.data.pokedexNumber?.valueOf() - b.data.pokedexNumber?.valueOf()
);
---

<form id="nicknamePageForm" style="margin-bottom:1rem;">
  <label for="pages">Select a nickname page:</label>
  <select id="pages" name="pages">
  	{allPosts.map((post) => (
  		<option value={`/nicknames/${post.slug}/`} id="nicknameOption">
        #{post.data?.pokedexNumber} - {post.data.title.replace(" nicknames","")}
      </option>
      ))}
  </select>
  <input type="submit" value="Go to page">
</form>

<script type="text/javascript">
  const form = document.querySelector('#nicknamePageForm');
  form.addEventListener('submit', function(e) {
    const selectedPage = document.querySelector('#pages').value;
    window.location.href = selectedPage;
    e.preventDefault();
});
</script>