---
---
<header>
	<section class="inner-header">
		<section class="logo">
			<a href="/"><img src="/images/851.png" alt="Centiskorch" width="150px" height="120px"></a>
		</section>
		<section class="header-centered">
			<span>centiskor.ch</span>
		</section>
	</section>
</header>