---
---
<header>
	<div class="inner-header">
		<div class="logo">
			<a href="/"><img src="/images/851.png" alt="Centiskorch" width="150" height="120"></a>
		</div>
		<div class="header-centered">
			<span>centiskor.ch</span>
		</div>
	</div>
</header>