---
import lastfm from '../data/lastfm.json'
---
				
<aside class="right-sidebar box">
	
	
	<h2 class="headings" style="background:#282a50;">My top songs this week</h2>
		<div class="currently-listening">
			<ul class="pokeball-icons">
			{lastfm.map((track) => (
					<li>{track.artist['#text']} - <a href={track.url}>{track.name}</a></li>
				))
			}
			</ul>
		</div>

	<h2 class="headings" style="border-radius: 10px;background:#fdee00;border:4px solid #c4413b;margin:0.5rem 0 1rem 0;"><a href="/support/" style="color:#c4413b;">Support me!</a></h2>

	<div style="text-align:center;">
		<img src="/images/gifs/skorch_banner.png" alt="four centiskorch sprites in a row" width="176" height="40"/>
		<img src="/images/letsdance.gif" alt="blastoise and charizard holding hands with the caption 'let\'s dance'" width="150" height="50"/>
		<img src="/images/ashpals_bg.gif" alt="three people running, one being ash ketchum, another being brock, and another being misty. pikachu is also at the front with its arms raised. the pokemon logo is in front of them" width="175" height="195"/>
		<img src="/images/ash_cycle.gif" alt="a boy (ash ketchum) riding a bike with pikachu in the front basket" width="175" height="131" loading="lazy"/>
		<img src="/images/team_rocket.gif" alt="three people running, one being ash ketchum, another being brock, and another being misty. pikachu is also at the front with its arms raised. the pokemon logo is in front of them" width="175" height="222" loading="lazy"/>
		<img src="/images/tumblr_b3e1373756d5f13fa0b75059fed9d8d6_c304de34_1280.webp" alt="pikachu and pichu looking happy with the words 'Pokémon Park' in the background" width="420" height="168" loading="lazy"/>
		<img src="/images/tumblr_84d2734d26b8f60fab7997cd5b35b731_b1bbb632_250.webp" alt="totodile on a blue background with the words 'pokémon art gallery' over the top" width="128" height="128" loading="lazy"/>
		<img src="/images/tumblr_9a98de8463808490e9262b19b8dc8ad0_0993ef44_250.webp" alt="pikachu with the gen 4 starters" width="180" height="55" loading="lazy"/>
		<img src="/images/tumblr_a8ecd3fea0fddbc2e57580ffa30da8c9_089ee05a_250.jpg" alt="regigigas, cherrim, and magmortar" width="180" height="55" loading="lazy"/>
		<img src="/images/tumblr_a9293454e5f342908ad18eee5c5f75fe_407e97f8_250.jpg" alt="dialga and palkia" width="180" height="55" loading="lazy"/>
		<img src="/images/tumblr_975c5d7a900ddab9fc362562e808d236_37c6a24f_250.webp" alt="darkrai" width="180" height="55" loading="lazy"/>
		
	</div>
</aside>