---
---
				
<aside class="right-sidebar box">
	<h2 class="headings">Resources</h2>
	<ul class="pokeball-icons">
		<li><a href="https://bulbapedia.bulbagarden.net/">bulbapedia</a></li>
		<li><a href="https://serebii.net">serebii</a></li>
	</ul>
</aside>