---
import lastfm from '../data/lastfm.json'
---
				
<aside class="right-sidebar box">
	
	
	<h2 class="headings" style="background:#282a50;">My top songs this week</h2>
		<div class="currently-listening">
			<ul class="pokeball-icons">
			{lastfm.map((track) => (
					<li>{track.artist['#text']} - <a href={track.url}>{track.name}</a></li>
				))
			}
			</ul>
		</div>

	<h2 class="headings" style="border-radius: 10px;background:#fdee00;border:4px solid #c4413b;margin:0.5rem 0 1rem 0;"><a href="/support/" style="color:#c4413b;">Support me!</a></h2>

	<div style="text-align:center;">
		<img src="/images/gifs/skorch_banner.png" alt="four centiskorch sprites in a row" width="176px" height="40px"/>
		<img src="/images/letsdance.gif" alt="blastoise and charizard holding hands with the caption 'let\'s dance'" width="150px" height="50px" loading="lazy"/>
		<img src="/images/ashpals_bg.gif" alt="three people running, one being ash ketchum, another being brock, and another being misty. pikachu is also at the front with its arms raised. the pokemon logo is in front of them" width="175px" height="195px" loading="lazy"/>
		<img src="/images/ash_cycle.gif" alt="a boy (ash ketchum) riding a bike with pikachu in the front basket" width="175px" height="131px" loading="lazy"/>
		<img src="/images/team_rocket.gif" alt="three people running, one being ash ketchum, another being brock, and another being misty. pikachu is also at the front with its arms raised. the pokemon logo is in front of them" width="175px" height="222px" loading="lazy"/>
	</div>
</aside>