---
import lastfm from '../data/lastfm.json'
---
				
<aside class="right-sidebar box">
	
	
	<h2 class="headings" style="background:#282a50;">My top albums right now</h2>
		<div class="currently-listening">
			<ul class="pokeball-icons">
			{lastfm.map((album) => (
					<li>{album.artist["#text"]} - <a href={album.url}>{album.name}</a></li>
				))
			}
			</ul>
		</div>
	<div style="text-align:center;">
		<img src="/images/gifs/skorch_banner.png" alt="four centiskorch sprites in a row" width="176px" height="40px"/>
		<img src="/images/letsdance.gif" alt="blastoise and charizard holding hands with the caption 'let\'s dance'" width="150px" height="50px"/>
	</div>
</aside>