---
import Resources from './Resources.mdx';
---
				
<aside class="right-sidebar box">
	<h2 class="headings">Resources</h2>
	<Resources class="pokeball-icons"/>
	<div class="img-center"><img src="/images/gifs/skorch_banner.png" alt="four centiskorch sprites in a row" width="176px" height="40px"/></div>
</aside>