---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import LeftSidebar from '../components/LeftSidebar.astro';
import type { CollectionEntry } from 'astro:content';

type Props = CollectionEntry<'favourites'>['data'];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<Layout title={title} description={description} />
<div class="container">
	<div class="flex-content">
		<main class="box">
			<article>
				<section class="prose">
					<section class="title">
								<h1 class="headings">{title}</h1>
							</section>
							<slot />
						</section>
					</article>
				</main>
				<LeftSidebar />
						<Footer />
						</body>
					</html>
